{{#if authenticated }}
<h1>Página Principal!!</h1>

<h3>Obrigado por Usar nosso Sistema, aproveite as funcionalidades!! </h3>
{{else}}
<h1>Página Principal!!</h1>

<h3>Para acessar as funcionalidades, Realize o <a href="/login">Login</a> </h3>
{{/if}}

